div.container-fluid {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    background-color: rgba(41, 177, 98, 0.788);
    padding: 0;
}

div.container cards {
    padding: 20px;
}

div.card {
    margin: 10px;
    display: inline-block;
}

div.card-body {
    background-color: antiquewhite;
}
 
.btn{
     margin: 5px 2px;
     padding: 5px 7px;
     display: inline-block;
}
ul.dropdown-menu.show {
    min-width: 350px;
    padding: 10px;
}